<!DOCTYPE html>
<html>
  <head>
    <title>Article Index page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <p>Article Store</p>
    </header>
    <main class="main flex-center">
      <a href="/users">Go to Article List</a>
      <a href="/users/new">Add an Article</a>
    </main>
  </body>
</html>
